.Page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: rgb(44, 44, 44);
    align-items: center;
    background-image: url(images/LOGO\ SPMW.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

Header {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow: auto;
}

footer {
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
}

.footer_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.log {
    padding: 20px 30px;
    color: white;
    background-color: black;
}

.navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.navbarLi {
    padding: 10px;
}

.navbarLi:hover {
    background-color: #555;
}

.blockCards {
    justify-content: center;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.438);
    border-style: double;
    border-color: aqua;
    border-width: 5px;
    gap: 5px;
}

.Card1 {
    text-align: center;
    width: 49%;
}

.divCard2 {
    gap: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 49%;
}

.Card2 {
    width: 49%;
    text-align: center;
}

.Card3 {
    width: 49%;
    text-align: center;
}

.Card4 {
    width: 49%;
    text-align: center;
}

.Card5 {
    width: 49%;
    text-align: center;
}

.divCard3 {
    gap: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 99%;
    justify-content: space-around;
}

.Card6 {
    width: 19%;
    text-align: center;
}

.Card7 {
    width: 19%;
    text-align: center;
}

.Card8 {
    width: 19%;
    text-align: center;
}

.Card9 {
    width: 19%;
    text-align: center;
}

.Card10 {
    width: 19%;
    text-align: center;
}

.img_card {
    width: 100%;
}