.page {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}

nav {
    max-width: 150px;
    margin-top: 50px;
    border-style: dashed;
    border-color: red;
    border-width: 1px;
    color: white;
}

header {
    display: flex;
    width: 100%;
    justify-content:space-around;
    margin: 0px 0px 0px 32px;
    padding: 0px 0px 0px 32px;
    border-style: dashed;
    border-color: red;
    border-width: 1px;
    background-color: black;
}

.OrganizeWelcome{
    display: flex;
    width: 100%;
    margin: 0;
}

.wellcome {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-color: red;
    border-width: 1px;
}

.wellcome-title {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    border-style: dashed;
    border-color: red;
    border-width: 1px;
    color: white;
}

.welcome-text {
    max-width: 350PX;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    border-style: dashed;
    border-color: red;
    border-width: 1px;
    color: white;
}
.Card{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: auto;
    height: auto;
    margin: 0px 20px 20px 20px;
    border-style: dashed;
    border-color: red;
    border-width: 1px;
    color: white;
    align-items: center;    
}
.blockCard
{
    display: flex;
    flex-direction: row;
    height: 250px; /* Alto fijo */
    overflow: auto; /* Habilita el scroll */
    border: 1px solid #ccc; /* Borde para distinguir la zona */
    padding: 10px;
}

.Img_Card
{
    width: 200px;
}
.contenido_main
{
    width: 95%;
    align-self: center;
    text-align: center;

}
.articulo
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 60%;
    height: 500px;
    align-self: center;
    border-style: double;
    border-width: 3px;
    border-color: aliceblue;

}
.seccion-articulos
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: double;
    border-width: 3px;
    border-color: aliceblue;
}